<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="admin/script_js::csslink">
</head>
<script>
    $(document).ready(function () {
        $(".showdiv").hide();
        $(".rejectbtn").click(function () {
            $(".showdiv").show();
            $(".rejectbtn").hide();
        }) ;
        $(".cancelbtn").click(function () {
            $(".showdiv").hide();
            $(".rejectbtn").show();
        }) ;

        /*     $(".updaterejection").click(function () {
                 var request={
                     "id":$("#requestid").val(),
                     "reason":$("#reason").val()
                 };
                 console.log(Array.from(request));
                 $.ajax({
                     type: "POST",
                     url: "/admin/reject",
                     data: request,
                     dataType:"json",
                     async:false,
                     success: function(response){
                         console.log(response);
                        alert("success ho gya lagbhag "+response.toString());
                     },
                     error: function(e){
                         alert("fail ho gya"+e);
                     }
                 });
             }) ;*/


        $(".updaterejection").click(function(){
            $.post("/admin/reject",
                {
                    name: $("#reason").val(),
                    city: "Duckburg"
                },
                function(data,status){
                    if(status=='success'){
                        alert("Data: " + data + "\nStatus: " + status);
                    }

                });
        });

    });
</script>
<body>

<div th:replace="admin/dashboard :: headers"> </div>
<div th:replace="admin/dashboard :: sidebar"> </div>

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">

            <div class="panel panel-default" th:if="${detailsof==null}">
                <div class="panel-heading">
                    Nothing to show any details (sahi kahu to hoshiyari mat pelo smjhe!! ADMI ho ADMI raho programmer mat bano)
                </div>
            </div>

            <div class="panel panel-default" th:if="${detailsof!=null}">
                <div class="panel-heading">
                    Details of <span th:text="${msg}"></span>
                </div>

                <div class="parent">
                    <div class="profileimage">
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                             class="img img-circle" alt="User Image" style="width: 80px; height: 80px;" />
                    </div>
                    <div class="firstchild">
                        <div>Name: <b th:text="${detailsof.fullname}">Suraj</b></div>
                        <div>Email: <b th:text="${detailsof.email}"></b></div>
                        <div>Mobile: <b th:text="${detailsof.mobile}"></b></div>
                        <div>Qualification: <b th:text="${detailsof.qualification}"></b></div>
                        <div>Experience: <b th:text="${detailsof.experience}"></b></div>
                        <div>DOB: <b th:text="${detailsof.dob}"></b></div>
                        <div>Description: <b th:text="${detailsof.selfDescription}"></b></div>
                    </div>
                    <div class="secondchild">
                        <div>State: <b th:text="${detailsof.address.state}">Suraj</b></div>
                        <div>City: <b th:text="${detailsof.address.city}"></b></div>
                        <div>Area: <b th:text="${detailsof.address.area}"></b></div>
                        <div>Area: <b th:text="${detailsof.address.area}"></b></div>
                        <div>Landmark: <b th:text="${detailsof.address.landmark}"></b></div>
                        <div>Pincode: <b th:text="${detailsof.address.pincode}"></b></div>
                        <div>AddressLine1: <b th:text="${detailsof.address.addressline1}"></b></div>
                    </div>
                    <div class="actionbutton">

                        <a th:href="@{|/admin/newapplicants/${detailsof.id}/acknowledge|}"><button class="btn btn-success" th:if="${detailsof.status=='tobeapproved'}">Send Acknowledge</button></a>
                        <button class="btn btn-success disabled" th:unless="${detailsof.status=='tobeapproved'}"><a th:href="@{|/admin/newapplicants/${detailsof.id}/acknowledge|}" class="btn-success disabled" ></a>Send Acknowledge</button>

                        <button type="button" class="btn btn-danger rejectbtn">Reject</button>
                    </div>
                    <div class="showdiv">
                        <form th:action="@{|/admin/${#strings.toLowerCase(#strings.replace(msg,' ',''))}/rejected|}" method="post">
                            <input type="text" th:value="${detailsof.id}" id="requestid" name="requestid">
                            <input type="textarea" cols="24" rows="34" id="reason" name="reason"><br>
                        </form>
                        <button type="button" class="btn btn-danger updaterejection">Reject</button>
                        <button type="button" class="btn btn-danger cancelbtn">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- footer -->
    <div class="footer">
        <div class="wthree-copyright">
            <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!-- / footer -->
</section>

<div th:replace="admin/script_js::scriptlink"> </div>
</body>
</html>