<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="ISO-8859-1">
    <title>Man ker rha tha test ka.... :)</title>
    <script>

        $(document).ready(function () {
                $("#btn").click(function(){
                    var i,table="";
                   $.getJSON("/js/sample.json",function (jsonData) {
                      alert(jsonData.length+" "+jsonData.records.length);
                       alert("Data "+jsonData.records[0].officename);
                       var table="";
                       table+="<table><th>Officename</th><th>Pincode</th><th>Office Type</th><th>District</th><th>Delivery Status</th><th>Division Name</th><th>Region Name</th>";
                        for(i=0; i<jsonData.records.length; i++){
                       table+="<tr><td>"+jsonData.records[i].officename+"</td><td>"+jsonData.records[i].pincode+"</td><td>"+jsonData.records[i].officetype+"</td><td>"+jsonData.records[i].districtname+"</td><td>"+jsonData.records[i].deliverystatus+"</td><td>"+jsonData.records[i].divisionname+"</td><td>"+jsonData.records[i].regionname+"</td></tr></table>";
                        }
                       document.getElementById("tabledata").innerHTML=table;
                       $("#holder").show();
                   });
                });
        });


      /*  $(document).ready(function() {
           $("form").on("submit",function(event) {
               event.preventDefault();
              $.post("/admin/submittest",
                  {
                  "name":$("#name").val(),
                  "email":$("#email").val(),
                  "mobile":$("#mobile").val(),
                  "course":$("#course").val()
              },function (data,status) {
                 /!* alert("data"+data.name+" "+data.mobile+"status "+status);*!/
                  var table="";
                  table+="<table><th>Name</th><th>Email</th><th>Mobile</th><th>Course</th>";
                  table+="<tr><td>"+data.name+"</td><td>"+data.email+"</td><td>"+data.mobile+"</td><td>"+data.course+"</td></tr></table>";
                  document.getElementById("tabledata").innerHTML=table;
                  $("#holder").show();

              }) ;
           });
        });*/

    </script>
</head>
<body>
<div>
        <form>
        Name:<input type="text" name="name" id="name"><br><br>
        Email:<input type="text" name="email" id="email"><br><br>
        Mobile:<input type="text" name="mobile" id="mobile"><br><br>
        Course:<input type="text" name="course" id="course"><br><br>
       <!-- <button id="btn">Click Me</button>--><input type="submit" value="Submit"/>
        </form>

</div>
<div>
    <button id="btn">Click Me</button>
</div>

<div style="display: none;" id="holder">
    <h1>Content Holder</h1>
    <table id="tabledata" border="2px"></table>
</div>
</body>
</html>